[submodule "src/3rdparty/nameof"]
	path = src/3rdparty/nameof
	url = https://github.com/Neargye/nameof.git
[submodule "src/3rdparty/googletest"]
	path = src/3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "src/3rdparty/imgui"]
	path = src/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/3rdparty/miniaudio"]
	path = src/3rdparty/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "src/3rdparty/imgui_club"]
	path = src/3rdparty/imgui_club
	url = https://github.com/ocornut/imgui_club.git
